body {
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0; /* Reset */
  padding: 0; /* Reset */
}

.clock {
  background-color: #000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: #101010;
  font: 4vh/6vh 'Inconsolata', 'Courier', monospace;
  letter-spacing: 1vh;
  /* Right-side padding adjusted for letter spacing at the end of the line */
  padding: 9vh 10vh 9vh 11vh;
}

.always-on,
.on {
  color: #fff;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
}
